{% extends 'staff/base.html'%}

{% block title%}
Dashboard
{% endblock %}

{% block content %}
  <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
    <main>
      

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
            <div class="shadow overflow-hidden">
                <table class="table-fixed min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-100">
                        <tr>
                            <!-- <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th> -->
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Client Name
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Email
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Room
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Price
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Check-in
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% if bookings %}
                        {% for booking in bookings%}
                        <tr class="hover:bg-gray-100">
                            <!-- <td class="p-4 w-4">
                                <div class="flex items-center">
                                    <input id="checkbox-194556" aria-describedby="checkbox-1" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                    <label for="checkbox-194556" class="sr-only">checkbox</label>
                                </div>
                            </td> -->
                            <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                <div class="text-base font-semibold text-gray-900">{{booking.name}}</div>
                                <!-- <div class="text-sm font-normal text-gray-500">{{room.price}}</div> -->
                            </td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{booking.email}}</td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{booking.room}}</td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">${{booking.room.price}}</td>
                            <td class="p-4 whitespace-nowrap space-x-2">{{booking.arrival_date}}</td>
                            <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900"> 
                                <button style="color: green;"><a href="{% url 'staff:edit_booking' booking.id%} ">Edit</a></button><br>
                                <button style="color: red;"><a href="{% url 'staff:delete_booking' booking.id %}">Delete</a></button>
                            </td>
                            </tr>  
                        {% endfor %}
                        {% endif %}                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p class="text-center text-sm text-gray-500 my-10">
  &copy; 2025

  >. All rights reserved. Distributed by
   <a href="{% url 'carapp:home_page'%}" class="hover:underline" target="_blank"
    >Grandoria.</a
  >
</p>
 
  </div>
{% endblock %}